#donate-form {
    max-width: 1000px;
    margin: 20px auto;
    border: 3px solid green;
}

#file-chosen {
    font-size: 18px;
    margin-left: 20px;
}

#upload-picture {
    margin-left: 20px;
    float:left!important;
}

#donate-img-container {
    margin: 0px 20px 0px 20px;
    width: 325px;
    height: 225px;
    border: 3px solid green;
}

#donate-img {
    width: 320px;
    height: 220px;
}

#time-text {
    font-size: 12px;
    font-weight: bold;
    margin-right: 3px;
}

#category-second-row {
    padding-top: 0px;
    width:425px;
}

#tags {
    padding: 0px 0px 10px 20px;
    margin-left: 20px;
    border: 1px solid green;
}

#pickup-location-title {
    margin: 5px 10px 0px 10px;
    font-size: 20px;
    font-weight: bolder;
    padding-bottom: 5px;
    border-bottom: 1px solid green;
}

#city-input {
    width: 115px;
}

#state-input{
    width: 45px;
}

#pickup-time-meridiem {
    width: 30px;
}

#zip-input {
    width: 66px;
}

#start-time-input,
#end-time-input,
#donee-pickup-time {
    width: 50px;
    padding:6px 6px;
}

#start-time-input {
    margin: 0 0 0 5px;
}

#end-time-input {
    margin-left: 3px;
}

#address {
    margin-left: 20px;
}

.size14-bolder
 {
    font-size: 14px;
    font-weight: bolder;
}

.size18-bolder {
    font-size: 18px;
    font-weight: bolder;
}

.size14-bolder
 {
    font-size: 14px;
    font-weight: bolder;
}

.radio-inline {
    font-size: 12px;
    font-weight: bold;
}

#address-title {
    margin-left: 45px;
}

#pickup-day-title {
    margin-left: 10px;
}

.am-pm,
.am-pm > label{
    padding:0px;
    margin: 0px;
    margin-left:12px;
    font-size:12px;
}

.CRUD-buttons {
    width: 100px;
    margin-left: 20px;
    margin-bottom: 10px
}

.info-user {
    font-size: 16px;
    font-weight: bolder;
    padding: 5px 5px 0 5px;
}

.info {
    width:400px;
}

.zero-left-pad {
    padding-left:0px!important;
}
.zero-right-pad {
    padding-right: 0px!important;
}

.zero-top-pad {
    padding-top:0px!important;
}

#donee-pickup-time-label {
    padding-left:15px;
    padding-right:5px;
}






