.shop-img-container {
  width: 300px;
  height: 225px;
  border: 3px solid green;
}

#shop-details {
  width: 300px;
  border-bottom: 3px solid green;
  border-left: 3px solid green;
  border-right: 3px solid green;
  padding:5px;
  margin-bottom: 10px;
  background-image: url("../../images/halftone-yellow.png");
}

.shop-img {
  width: 293px;
  height: 219px;
}

#interested-button,
#interested-button:hover  {
  font-family: sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bolder;
  background:yellow;
  color:  darkslategray;
  border: 2px solid darkslategray;
  border-radius: 1rem;
  padding: 6px;
  margin-bottom: 5px;
}

p {
  color: darkslategray;
  font-size: 14px;
  font-weight: bolder;
  padding:0 10px;
}

.card-title {
  color: darkslategray;
  font-size: 20px;
  font-weight: bolder;
  padding:0 10px;
}
