#search-header {
    position: fixed;
    top: 60px;
    padding: 5px;
    margin: 0px 65px;
    /* z-index: 999; */
}

div.btn-group {
    margin-left: 0px!important;
}

.category-buttons,
.condition-buttons,
.age-buttons,
.gender-buttons,
.like-buttons {
    text-decoration: none;
    font-weight: bold;
    width: 100px;
    margin: 2px 5px; 
}

.category-buttons.active,
.condition-buttons.active,
.age-buttons.active,
.gender-buttons.active,
.like-buttons.active
 {
    font-weight: bolder!important;
    font-size:15px!important;
}

.category-buttons.active
{
    border: 3px solid darkgreen;
}

.condition-buttons.active {
    border: 3px solid darkblue;
}
.age-buttons.active {
    border: 3px solid darkcyan;
}
.gender-buttons.active {
    border: 3px solid darkorange;
}
.like-buttons.active {
    border: 3px solid darkred;
}
