
#search-header {
   padding-top: 20px; 
}

#search-header button {
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
}

#home,
#fashion,
#jewelry,
#books,
#entertainment,
#toys,
#exercise,
#tech,
#motors,
#cars,
#other{
    border: 2px solid darkgreen;
}

#new,
#likeNew,
#veryGood,
#good,
#baby,
#child,
#youth,
#adult,
#senior
 {
    border: 2px solid darkblue;
}

#male,
#female,
#neutral{
    border: 2px solid brown;
}

.search-button {
    padding: 2px;
    margin: 0;
}

.btn-gender {
    background-color: orange;
    color: white;
}

.btn-gender:hover {
    background-color: darkorange;
}


/* Medium devices (tablets) */
@media (min-width: 768px) and (max-width: 991px) {
    #search-header button {
        font-size: 9px;
    }
}

  /* Small devices  */
  @media (max-width:767px) {
    #search-header button {
        font-size: 10px;
    }
}

  /* x-Small devices */
  @media (max-width:575px) {
    #search-header button {
        font-size: 12px;
    }
}