.navbar-brand {
    display: inline-block;
    height: 100px;
    line-height: 100px;
    vertical-align: middle;
    height: 30px;
}

#logo {
    padding-bottom: 55px;
    margin-left: 0;
}

.navbar-toggler-icon {
    background: darkorange;
}

.navbar-toggler {
    padding: 0;
}

li.dropdown>a {
    border: .5px solid lightslategray;
    font-size:12px;
}

/* #donate-title {
    display:inline-block; 
   margin:0px;
   padding:0px;
    text-transform: uppercase;
     color:white;
    font-size: 24px;
    font-weight: bolder; 
} */


/* .form-rounded {
    border-radius: 1rem;
} */

/* div.dropdown-item {
    padding:0px;
} */

.dropdown-menu {
    padding:0;
    margin:0;
    background: #f9a825;
}

.dropdown-menu>a {
    font-weight: bold;
    font-size: 14px;
    color:white;
    padding-right: 0;
    padding-top: 2px;
    padding-bottom: 2px; 
}

.dropdown-menu>a:hover {
    color:darkslategray;
    background: #f9a825;
}

nav.navbar {
    margin-bottom: 0px;
    background: #f9a825;
    border:none;
}

.nav-link {
    color:white;
    font-weight: bolder;
    font-size: 14px;
    text-transform: uppercase;
}

.nav-link:hover {
    color:darkslategray;
}

#keyword-search-input {
    padding: 4px;
    width: 15rem;
    font-size:1rem;
}

#cityZip-search-input {
    padding: 4px;
    width:10rem;
    font-size:1rem;
}

/* Medium devices (tablets) */
@media (min-width: 768px) and (max-width: 991px) {
    #keyword-search-input {
        padding: 2px;
        width: 10rem;
        font-size: .75rem;
    }
    
    #cityZip-search-input {
        padding: 2px;
        width:6rem;
        font-size: .75rem;
    }

    .nav-link {
        font-size: 11px;
    }
    li.dropdown>a {
        font-size:10px;
    }
    .dropdown-menu>a {
        font-size: 12px;
    }

}

  /* Small devices (landscape phones) */
  @media (max-width:767px) {
    li.dropdown>a {
        border: none;
    }
    #keyword-search-input {
        width:100%;
        margin-top: 45px;
    }

    #cityZip-search-input {
        width:100%;
        margin-top:0;
        margin-bottom:0;
    }
    #logo {
        padding-bottom: 45px;
    }

    .navbar-nav {
        margin:20px 10px !important;
        text-align: left;
    }

    .navbar-nav .nav-link {
        display:inline-block;
        padding:5px 10px !important;
    }
}


