#keyword-search-input {
    padding: 8px;
    width: 25rem;
    margin-left:20px; 
}

#cityZip-search-input {
    width:15rem;
}

#donate-title {
    margin: 0 150px; 
    text-transform: uppercase;
    color:white;
    font-size: 24px;
    font-weight: bolder;
}
.form-rounded {
    border-radius: 1rem;
}

div.dropdown-item {
    padding:0px;
}

.dropdown-menu>li>a {
    font-weight: bolder;
    font-size: 14px;
    text-transform: uppercase;
    color:black;
}

nav.navbar.navbar-default {
    margin-bottom: 0px;
    background: #f9a825;
    border:none;
}

.navbar-default .navbar-nav>li>a {
    color:white;
    font-weight: bolder;
    font-size: 14px;
    text-transform: uppercase;
}



