#keyword-search-input {
    padding: 8px;
    width: 50rem;
    margin: 0 20px;
    
}

.form-rounded {
    border-radius: 1rem;
}

div.dropdown-item {
    padding:0px;
}

nav.navbar.navbar-default {
    margin-bottom: 0px;
    
}
